*{
    margin: 0;
    padding: 0;
    font-family:blissful;
    box-sizing: border-box;
}

.header{
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content:space-around;
    
}
nav image{
    flex: 1;
}
.right{
    display: flex;
}
.logo{
    width: 140px;
    height: 35px;
    margin-right: 50px;
    cursor: pointer;
}
.navcol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-left: 20px;
}

.navcol img{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    
}
.navcol button{
    cursor: pointer;
}
.navcol button:hover{
    color: rgb(121, 124, 124);
}

.center-div{
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(153, 162, 153);
    padding: 0px 40px;
}
.center-div button{
    border: 0;
    background: transparent;

}
.last-div{
    margin-left:5px;
   
}
.last-div button{
    margin-left: 5px;
    padding: 15px 18px;
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}
#join-btn:hover{
    background-color:  rgba(173, 181, 194, 0.5);
}
#signin-btn{
    color: blue;
    outline: 1px solid blue;
}
#signin-btn:hover{
    background-color: rgba(163, 204, 239,0.5);
}


/*---------------contents------------------*/

.contents{
    display: flex;
    align-items: center;
}
.col1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 11%;
    margin-bottom: 11px;
}
.col2{
    width: 50%;
}
.col2 img{
    width: 700px;
    margin-top: 100px;
    margin-left: 50px;
}
.contents h1{
    color: #8f5849;
    font-size: 50px;
    margin-bottom: 10px;
}
.contents p{
    font-size:large;
    color: rgb(46, 46, 46);
}
.contents input[type="email"]{
    width: 70%;
    height:50px;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.contents input[type="email"]:hover{
    border: 2px solid black;
}
.contents .password{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 70%;
    height:50px;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
    
}
.contents .password:hover{
    border: 2px solid black;
}
.contents input[type="password"]{
       /*width: 85%;*/
       flex: 1;
       font-size: 18px;
       border: 0;
       outline: 0;
       margin-left: 10px;
       overflow: hidden;
       background: transparent;
}
.password button{
    border: 0;
    background: transparent;
    color: blue;
    font-size: 18px;
    margin-right: 10px;
    cursor:pointer;
}
.contents a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    color: blue;
}
.contents a:hover{
    color: blueviolet;
    text-decoration: underline;
}
#signinLarge{
    border: 0;
    outline: 0;
    background-color:#0a66c2;
    width: 70%;
    height:50px;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    cursor: pointer;

}
#signinLarge:hover{
    background-color: #08539d;
}
.NewToLinkedIn{
    border-top: 1px solid rgb(61, 61, 61);
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 70%;
    height:100px
}
.NewToLinkedIn button{
    margin: auto;
    font-size: 16px;
    background: transparent;
    border: 1px solid black;
    outline: 0;
    border-radius: 50px;
    width: 100%;
    height:50px;
    margin-top: 40px;
}
.NewToLinkedIn button:hover{
    background-color: rgb(236, 236, 236);
}


/*------------features--------------*/

.row{
    padding: 10% 5% 5%  5%;
    display: flex;
    align-items: center;
}
.textCol{
    width: 50%;
    padding: 10px 90px;
}
.textCol h1{
    color: #000000;
    font-weight: 100;
    font-size: 45px;
    margin-bottom: 15px;
}
.textCol p{
    font-size: 20px;
    font-weight:normal;
    line-height: 1.5;
    
}

.col2{
    width: 50%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}

.col2 button{
    padding: 16px 15px;
    border-radius: 50px;
    margin: 7px 7px;
    background: transparent;
    border: 1 px solid black;
    font-size: 15px;
    cursor: pointer;

}
.col2 button:hover{
    background-color: rgb(236, 236, 236);
}
#showAllbtn{
    color: blue;
    border: 1px solid blue;
    box-sizing: border-box;
}
#showAllbtn:hover{
    background-color: rgba(163, 204, 239,0.5);
}
#PostAjobbtn{
    color: blue;
    border: 1px solid blue;
    box-sizing: border-box;
    margin-left: 160px;
}
#coloredRow{
    background-color: #e4d2cd;
    padding-bottom: 8%;
}
.row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.column img{
    width: 500px;
}
.column{
    padding: 0px 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.column h1{
    max-width: 350px;
}


/*---------------footer------------------*/

.rowfooter{
    display: flex;
    justify-content: space-around;
}
.footer{
    padding: 20px 15% 10px;
    color: #decbcb;
    background-color: rgb(238, 235, 235);
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000000;
    
}
.footer img{
    width: 100px;
    height: 25px;
    cursor: pointer;
}
.footer .col{
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.footer .col a{
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .col a:hover{
    color: black;
}




/*--------------media query------------------------*/
@media screen and (max-width:600px){
    /*navbar*/
    nav{
        display: flex;
        align-items: center;
    }
    .right{
        display: flex;
    }
    .logo{
        width: 85px;
        height: 25px;
        margin-left: 100px;
        cursor: pointer;
    }
    .navcol{
        padding: 0px 0px;
    }
    .navcol img{
        width: 20px;
        height: 17px;
        margin-bottom: 5px;
    }
    
    .center-div{
        margin-right: 70px;
        border-right: none;
    }
     
    .last-div button{
      display: none;
    }
   /*-----------------contents-----------------------------*/
.header{
   background-color:aliceblue;
}
.col1{
    width: 500px;
    margin-bottom: 20px;
}
.col2{
   display: none;

}
.col1 h1{
    font-size: 40px;
    margin-bottom:10px;
    margin-top: 70px;
}
.contents input[type="email"]{
    width: 90%;
    height:50px;
    font-size: 18px;
    padding: 0px 10px;
    background: transparent;
}
.contents .password{
    width: 90%;
    height:50px;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
    
}
.contents input[type="password"]{
       flex: 1;
       font-size: 18px;
       
}
#signinLarge{
    width: 90%;
    height:50px;
    font-size: 16px;
    padding: 0px 10px;
}
#signinLarge:hover{
    background-color: #08539d;
}
.NewToLinkedIn{
    margin-top: 20px;
    width: 90%;
    height:100px
}
.NewToLinkedIn button{
    width: 100%;
    height:50px;
    margin-top: 40px;
}

}